.grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;

  gap: 1%;
}

@media (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr 1fr;

    gap: 5%;
  }
}
