.breadcrumbsContainer {
}

.breadcrumbsList {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 5px;
}

.active {
  color: var(--main-color);
}

.breadcrumbsItem {
}

.breadcrumbsLink {
}

.breadcrumbsLink:hover {
  color: var(--main-color-hover);
}
